<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <h1><%= title %></h1>
        <h3><a href="/machines">Liste des machines</a></h3>
    </div>
    <div class="container">
      <h1><%= title %></h1>
      <h3><a href="/utilisateurs">Liste des utlisateurs</a></h3>
  </div>
    
  </body>
</html>





<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->
