<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Liste des machines</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../partials/head %>
        <!-- TODO le style-->
        <link rel="stylesheet" type="text/css" media="screen" href="../../public/stylesheets/machines.css" />
</head>

<body>
    <div class="container">
        <h1 class="text-center font-weight-bold mb-5 mt-5 titre">Liste des machines</h1>
        <% if(machines.length > 0){%>
            <table class="table table-dark table-striped text-center">
                <thead>
                    <tr>
                        <th class="h3 font-weight-bold" scope="col">NOM</th>
                        <th class="h3 font-weight-bold" scope="col">ID</th>
                        <th scope="col" editer</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < machines.length; i++){ %>
                        <tr>
                            <td>
                                <a href="/machines/show/<%= machines[i]._id %>"></a>
                                <%= machines[i].nom%>
                            </td>
                            <td>
                                <%= machines[i].id %>
                            </td>

                            <td>
                                <a class="btn btn-outline-primary" href="/machines/edit/<%= machines[i]._id %>">Editer</a>
                            </td>

                        </tr>
                        <% } %>
                </tbody>
            </table>
            <div>
                <a class="btn btn-primary" href="/machines/create">Creer un machine</a>
            </div>

            <%} else{ %>
                <div>Il n'y a pas de machine enregistré</div>
                <div>
                    <a href="/machines/create">Creer un machine</a>
                </div>
                <% } %>
    </div>


</body>

</html>
























<!-- <% for (i=0; i< machines.length; i++) { %>
    <%= machines[i].nom %>
    <br>
    <%= machines[i].id %>
<% } %> -->